$background-body-light: #fff;
$background-header-light: #ff6347;
$background-board-light: #dadada;
$background-task-light: #fff;
$color-task-light: #333;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    background-color: $background-body-light;
}
header{
    background-color: $background-header-light;
    color: #fff;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    #container{
        width: 90%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
#left-control{
    display: flex;
    align-items: center;
    a{
        color: #fff;
        span{
            font-size: 2rem;
        }
    }
    #date{
        display: block;
        margin-left: 15px;
        font-size: 1.2rem;
    }
}
#right-control{
    button#theme{
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 1rem;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: none;
        span{
            float: left;
        }
    }
}
#content{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}
#board{
    width: 300px;
    background-color: $background-board-light;
    border-radius: 5px;
    padding: 10px;
}
// Etiquetas
.todo #task__status{
    background-color: #2ecc71;
}
.in-progress #task__status{
    background-color: #f1c40f;
}
.done #task__status{
    background-color: #3498db;
}
.discarted #task__status{
    background-color: #e74c3c;
}
#board__title{
    font-weight: bold;
}
#task{
    background-color: $background-task-light;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    color: $color-task-light;
}
#task__status{
    width: 30px;
    height: 6px;
    border-radius: 5px;
    display: block;
}
#task__title{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
#task__description{
    font-size: 0.8rem;
    padding-left: 5px;
    font-style: italic;
}

#add-task {
    width: 100%;
    margin-top: 15px;
    button{
        padding: 10px;
        background-color: $background-header-light;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        outline: none;
    }
}