// default variables of color
$background-body-light: #fff;
$background-header-light: #ff6347;
$background-board-light: #dadada;
$background-task-light: #fff;
$color-task-light: #333;

// variables of colors of the theme dark
$background-body-dark: #1f1f1f;
$background-header-dark: #282828;
$background-board-dark: #474747;
$background-task-dark: #666666;
$color-task-dark: #fdfdfd;

// variables of colors of the theme neutral
$background-body-neutral: #FFF;
$background-header-neutral: #F7F7F7;
$background-board-neutral: #f8f8f8;
$background-task-neutral: #FFF;
$color-task-neutral: #666;

// Configuration of the scroll bar.

::-webkit-scrollbar{
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: $background-header-light;
    border-radius: 10px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    background-color: $background-body-light;
}
header{
    background-color: $background-header-light;
    color: #fff;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    #container{
        width: 90%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
#left-control{
    display: flex;
    align-items: center;
    a{
        color: #fff;
        span{
            font-size: 2rem;
        }
    }
    #date{
        display: block;
        margin-left: 15px;
        font-size: 1.2rem;
    }
}
#logo img{
    width: 50px;
}
#right-control{
    button#theme{
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 1rem;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: none;
        span{
            float: left;
        }
    }
}
main{
    height: 100%;
    overflow: auto;
}
#content{
    min-width: 1366px;
    margin:70px auto;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}
#board{
    width: 300px;
    flex-basis: 300px;
    flex-shrink: 0;
    background-color: $background-board-light;
    border-radius: 5px;
    padding: 10px;
}
// Etiquetas
.todo #task__status{
    background-color: #2ecc71;
}
.in-progress #task__status{
    background-color: #f1c40f;
}
.done #task__status{
    background-color: #3498db;
}
.discarted #task__status{
    background-color: #e74c3c;
}
#board__title{
    font-weight: bold;
}
#task{
    position: relative;
    background-color: $background-task-light;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    color: $color-task-light;
    cursor: pointer;
}
#task__status{
    width: 30px;
    height: 6px;
    border-radius: 5px;
    display: block;
}
#task__trash{
    position: absolute;
    top: 0px;
    right: 5px;
    color: $color-task-light;
    opacity: 0.4;
    cursor: pointer;
    display: none;
    &:hover{
        opacity: 1;
    }
}
#task:hover #task__trash{
    display: block;
}
#task__title{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
#task__description{
    font-size: 0.8rem;
    padding-left: 5px;
    font-style: italic;
}

#add-task {
    width: 100%;
    margin-top: 15px;
    button{
        padding: 10px;
        background-color: $background-header-light;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        outline: none;
    }
}

// Theme dark
body.dark{
    background-color: $background-body-dark;
    header{
        background-color: $background-header-dark;
    };
    #board{
        background-color: $background-board-dark;
        #board__title{
            color: $color-task-dark;
        }
    }
    #task{
        background-color: $background-task-dark;
        color: $color-task-dark;
    }
    #add-task {
        button{
            background-color: $background-header-dark;
            color: $color-task-dark;
        }
    };
}

// Theme neutral
body.neutral{
    background-color: $background-body-neutral;
    header{
        background-color: $background-header-neutral;
        color: $color-task-neutral;
    };
    #left-control{
        a{
            color: $color-task-neutral;
        }
    }
    #right-control{
        button#theme{
            color: $color-task-neutral;
        }
    }
    #board{
        background-color: $background-board-neutral;
        #board__title{
            color: $color-task-neutral;
        }
    }
    #task{
        background-color: $background-task-neutral;
        color: $color-task-neutral;
    }
    #add-task {
        button{
            background-color: $background-header-neutral;
            color: tomato;
        }
    };
}

// Medias queries

@media only screen and (max-width: 1024px){
    #content{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (max-width: 600px){
    #board{
        width: 355px;
        flex-basis: 355px;
        margin-right: 10px;
    }
    #content{
        padding-left: 10px;
        padding-right: 10px;
    }
}