* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  background-color: #fff; }

header {
  background-color: #ff6347;
  color: #fff;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px; }
  header #container {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

#left-control {
  display: flex;
  align-items: center; }
  #left-control a {
    color: #fff; }
    #left-control a span {
      font-size: 2rem; }
  #left-control #date {
    display: block;
    margin-left: 15px;
    font-size: 1.2rem; }

#right-control button#theme {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none; }
  #right-control button#theme span {
    float: left; }

#content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px; }

#board {
  width: 300px;
  background-color: #dadada;
  border-radius: 5px;
  padding: 10px; }
  #board #board__title {
    font-weight: bold; }

#task {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  color: #333; }
  #task #task__status {
    width: 30px;
    height: 6px;
    border-radius: 5px;
    background-color: green;
    display: block; }
  #task #task__title {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px; }
  #task #task__description {
    font-size: 0.8rem;
    padding-left: 5px;
    font-style: italic; }

#add-task {
  width: 100%;
  margin-top: 15px; }
  #add-task button {
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none; }
