::-webkit-scrollbar {
  height: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #ff6347;
  border-radius: 10px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  background-color: #fff; }

header {
  background-color: #ff6347;
  color: #fff;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px; }
  header #container {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

#left-control {
  display: flex;
  align-items: center; }
  #left-control a {
    color: #fff; }
    #left-control a span {
      font-size: 2rem; }
  #left-control #date {
    display: block;
    margin-left: 15px;
    font-size: 1.2rem; }

#logo img {
  width: 50px; }

#right-control button#theme {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none; }
  #right-control button#theme span {
    float: left; }

main {
  height: 100%;
  overflow: auto; }

#content {
  min-width: 1366px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px; }

#board {
  width: 300px;
  height: fit-content;
  flex-basis: 300px;
  flex-shrink: 0;
  background-color: #dadada;
  border-radius: 5px; }

#dropzone {
  padding: 10px;
  position: relative;
  width: 100%; }

.is-dragging {
  cursor: move;
  opacity: 0.3; }

.todo #task__status {
  background-color: #2ecc71; }

.in-progress #task__status {
  background-color: #f1c40f; }

.done #task__status {
  background-color: #3498db; }

.discarted #task__status {
  background-color: #e74c3c; }

#board__title {
  font-weight: bold; }

#task {
  position: relative;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  color: #333;
  cursor: pointer; }

#task__status {
  width: 30px;
  height: 6px;
  border-radius: 5px;
  display: block; }

#task__trash {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #333;
  opacity: 0.4;
  cursor: pointer;
  display: none; }
  #task__trash:hover {
    opacity: 1; }

#task:hover #task__trash {
  display: block; }

#task__title {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px; }

#task__description {
  font-size: 0.8rem;
  padding-left: 5px;
  font-style: italic; }

#add-task {
  width: 100%;
  margin: 15px; }
  #add-task button {
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none; }

body.dark {
  background-color: #1f1f1f; }
  body.dark header {
    background-color: #282828; }
  body.dark #board {
    background-color: #474747; }
    body.dark #board #board__title {
      color: #fdfdfd; }
  body.dark #task {
    background-color: #666666;
    color: #fdfdfd; }
  body.dark #add-task button {
    background-color: #282828;
    color: #fdfdfd; }

body.neutral {
  background-color: #FFF; }
  body.neutral header {
    background-color: #F7F7F7;
    color: #666; }
  body.neutral #left-control a {
    color: #666; }
  body.neutral #right-control button#theme {
    color: #666; }
  body.neutral #board {
    background-color: #f8f8f8; }
    body.neutral #board #board__title {
      color: #666; }
  body.neutral #task {
    background-color: #FFF;
    color: #666; }
  body.neutral #add-task button {
    background-color: #F7F7F7;
    color: tomato; }

@media only screen and (max-width: 1024px) {
  #content {
    padding-left: 0px;
    padding-right: 0px; } }

@media only screen and (max-width: 600px) {
  #board {
    width: 355px;
    flex-basis: 355px;
    margin-right: 10px; }
  #content {
    padding-left: 10px;
    padding-right: 10px; } }
